.components {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  padding: 0px 54px 60px;
  position: relative;
  background-color: #fcfcfc;
}

.components .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 26px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #54575a66;
}

.components .div {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.components .component-icon {
  position: relative;
  width: 16.14px;
  height: 16.14px;
}

.components .img {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -4.43px;
}

.components .text {
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.components .img-2 {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.components .template-title {
  position: absolute;
  width: 230px;
  height: 36px;
  top: 2px;
  left: 92px;
}

.components .category {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.components .text-wrapper {
  position: relative;
  width: 271px;
  margin-top: -1px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 700;
  color: #333333;
  font-size: 24px;
  letter-spacing: 9.26px;
  line-height: 28.8px;
}

.components .subcategory {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #54575a66;
}

.components .subtitle {
  margin-top: -1px;
  font-family: "Ubuntu", Helvetica;
  font-weight: 300;
  color: #54575acc;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: normal;
  position: relative;
  align-self: stretch;
}

.components .items {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.components .item {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  padding: 0px 0px 48px;
  position: relative;
  flex: 0 0 auto;
}

.components .info {
  display: flex;
  flex-direction: column;
  width: 412px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid;
  border-color: #979797;
}
